*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background-color: #000;
}

html, body{
    height: 100%;
    width: 100%;

}

body{
    background-color: #F7F7F7;
}

#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: blanchedalmond; */
    position: fixed;
    z-index: 99;
    padding: 25px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 #links{
    padding: 10px;
}

#nav-part2 #links a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;

    text-transform: uppercase;
}

#nav-part2 #icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}



#cursor{
    height: 250px;
    width: 250px;
    background-color: rgb(183, 153, 177);
    border-radius: 50%;
    position: fixed;

    transform: translate(-50%,-50%) scale(0);
}

#page1{
    min-height: 100vh;
    width: 100%;

    position: relative;
    padding: 0 5vw;
    padding-top: 18vh;

    
}

#page1 h1{
    font-size: 15.4vh;

    text-transform: uppercase;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    /* background-color: gray; */
    margin-top: 1vw;

    position: relative;
}


#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;

}


#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;

    position: fixed;
    border-radius: 50%;

    opacity: 0;
    scale: 0;


}



#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3vw 1vw;

}


#page2 .elem{
    height: 100%;
    width: 30%;
    
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    scale: 1.1;
}


.elem .dets{
    height: 60px;
    width: 70%;
    border-radius: 30px;
    position: absolute;
    z-index: 9;
    
    background-color: rgba(218, 139, 172, 0.842);
}

.elem .dets:hover{
    height: 200px;
}



#page3{
    min-height: 120vh;
    width: 100%;
    

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 55vh;
    width: 40vw;
    /* background-color: rebeccapurple; */
    /* border: 2px solid black; */

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}


.child img{
    height: 100%;


}















/* responsive */
@media (max-width:600px) {


    #nav{
    padding: 15px;
    }

    #nav-part1{
        height: 68px;
        overflow: hidden;
    }

    #nav-part1 svg{
        height: 68px;
        width: 80px;
    }




    #page1{
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
    }


    #page1 h1{
    
    font-size: 14vw;
    text-transform: uppercase;
    letter-spacing: -3px;
    }

    #video-container{
    height: 27vh;
    width: 100%;
    /* background-color: gray; */
    margin-top: 3vw;
    }

    #video-container #play{
    opacity: 1;
    scale: 1;
    font-size: 4vw;
    padding: 7vw 5.2vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    }

    #page2{

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        padding: 5vw 3vw;

    }


    #page2 .elem{
        height: 100vh;
        width: 100%;
        
        margin-bottom: 3vw;


    }


    .child{

        width: 88vw;
        padding: 15vw;
    }

}